@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

hr {
    border: 1px solid rgb(128, 128, 128);
}

html, body {
    margin: 0;
    font-size: 10px;
    color: $COLOR_BASE;
    background-color: $BG_BASE;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

table {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
