@mixin ver_hor_center(){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex(){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin boxshadow(){
  -webkit-box-shadow: 0px 0px 5px 0px rgba(211,211,211,0.43);
  -moz-box-shadow: 0px 0px 5px 0px rgba(211,211,211,0.43);
  box-shadow: 0px 0px 5px 0px rgba(211,211,211,0.43);
}