@import "normalize";
@import "variables";


* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  font-size: 10px;
  color: $COLOR_BASE;
  background-color: $BG_BASE;
}

img{
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

table{
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}
