<template>
    <header>
        <div class="pk_logo">
            <a href="/">PK</a>
        </div>
        <business-card></business-card>
    </header>
</template>
<script>
    import BusinessCard from "./BusinessCard";

    export default {
        components:{
            BusinessCard
        }
    }
</script>
<style lang="scss" scoped>

    @import "../assets/scss/variables";
    @import "../assets/scss/angled_edge";

    header{
        background-color: $HEADER_BG_COLOR;
        padding: 2rem;

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            height: 56rem;
            padding: 4rem;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            position: relative;
            @include angled-edge('inside bottom', 'upper left', $BG_BASE, 80);
        }
    }

    .pk_logo{
        color: $COLOR_WHITE;
        font-size: 3.6rem;
        cursor: pointer;
        margin-bottom: 2rem;

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            margin-bottom: 8.8rem;
        }
    }

</style>
