<template>
    <div class="pk_introduction_block">
        <p>
            Hello! I'm Karthikeyan Palaniswamy, a passionate web solutionist. I am experienced in developing and testing
            responsive and compatible websites. I enjoy writing end-to-end tests using Cypress testing framework and also have
            experience with building open source communities.
        </p>
    </div>
</template>
<script>
    export default {}
</script>
<style lang="scss" scoped>
    @import "../assets/scss/variables";

    .pk_introduction_block {

        margin-top: 44px * $FACTOR-MOBILE;

        padding: 2rem 2rem 0 2rem;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            width: $BUSINESS_WIDTH;
            margin-top: 158px;
            padding: 4rem 4rem 0 4rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        p {
            font-size: 2rem * $FACTOR-FONT-MOBILE;
            font-weight: 300;

            padding: 0 10px 0 10px;

            @media screen and (min-width: 500px) {
                padding: 0 48px * $FACTOR-MOBILE 0 48px * $FACTOR-MOBILE;
            }

            @media screen and (min-width: $VIEWPORT_TABLET) {
                padding: 0 48px * $FACTOR-TABLET 0 48px * $FACTOR-TABLET;
            }

            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                padding: 0 48px 0 48px;
                font-size: 2rem;
            }
        }

    }
</style>
