<template>
    <div class="pk_professional_skill">
        <h1>Professional Skills</h1>
        <div class="pk_skill_list">
            <div class="pk_skill_left pk_skills">
                <div>
                    <p>HTML5 &amp; CSS3</p>
                    <div class="skill_measure">
                        <span :data-measure="html_css + '%'">
                        </span>
                    </div>
                </div>
                <div>
                    <p>JavaScript</p>
                    <div class="skill_measure">
                        <span :data-measure="javascript + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        PHP
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="php + '%'">
                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        jQuery
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="jquery + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        SCSS
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="scss + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        WordPress CMS
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="wordpress_cms + '%'">

                        </span>
                    </div>
                </div>
            </div>
            <div class="pk_skill_right pk_skills">
                <div>
                    <p>
                        Vue.js
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="vue + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        MySQL
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="mysql + '%'">

                        </span>
                    </div>
                </div>

                <div>
                    <p>
                        Selenium
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="selenium + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        Cypress
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="cypress + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        Atlassian JIRA/Bugzilla
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="jira + '%'">

                        </span>
                    </div>
                </div>
                <div>
                    <p>
                        Git
                    </p>
                    <div class="skill_measure">
                        <span :data-measure="git + '%'">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        mounted: function(){
            let $skillMeasure = this.$el.querySelectorAll('.skill_measure');
            $skillMeasure.forEach(function ($element) {
                let $spanElement = $element.querySelector('span');
                $spanElement.style.width = $spanElement.getAttribute('data-measure');
            });
        },
        data(){
            return{
                html_css: 90,
                javascript: 61,
                wordpress_cms: 78,
                php: 75,
                jira: 87,
                cypress: 47,
                selenium: 57,
                mysql: 55,
                vue: 57,
                scss: 80,
                jquery: 70,
                git: 45,
                skill_level: {
                    html_css: 90,
                    javascript: 61,
                    wordpress_cms: 78,
                    php: 75,
                    jira: 87,
                    cypress: 47,
                    selenium: 57,
                    mysql: 55,
                    vue: 57,
                    scss: 80,
                    jquery: 70,
                    git: 45,
                }
            }
        },
        methods:{

        }
    }

</script>
<style lang="scss" scoped>
    @import "../assets/scss/variables";
    @import "../assets/scss/mixins";

    .pk_professional_skill{
    padding: 2rem;


    @media screen and (min-width: $VIEWPORT_DESKTOP){
        width: $BUSINESS_WIDTH;
        padding: 4rem 4rem 4rem 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3.4rem * $FACTOR-FONT-MOBILE;

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            font-size: 3.4rem;
            margin-bottom: 3.4rem;
        }
    }

    .pk_skill_list{
        width: 100%;
        @include flex();
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: $COLOR_WHITE;
        padding: 10px;
        @include boxshadow();

        @media screen and (min-width: 500px){
            padding: 48px * $FACTOR-MOBILE;
        }

        @media screen and (min-width: $VIEWPORT_TABLET){
            padding: 48px * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            padding: 48px;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .pk_skills{
            flex: 1;

            &.pk_skill_left{

                @media screen and (min-width: $VIEWPORT_DESKTOP){
                    margin-right: 3rem;
                }

                > div{
                    &:last-child{
                        margin-bottom: 4rem;
                        @media screen and (min-width: $VIEWPORT_DESKTOP){
                            margin-bottom: 0;
                        }
                    }
                }
            }
            > div{
                margin-bottom: 4rem;
                p{
                    font-size: 1.6rem * $FACTOR-FONT-MOBILE;
                    margin-bottom: 0.5rem;

                    @media screen and (min-width: $VIEWPORT_DESKTOP){
                        font-size: 1.6rem;
                    }

                    span{
                        font-size: inherit;
                        float: right;
                    }
                }

                .skill_measure{
                    background-color: #b3c2e3;
                    width: 100%;
                    height: 5px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    position: relative;

                    span{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        background-color: $COLOR_GREEN;
                    }

                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

    }
}
</style>
