.pk_business_card_container {
    background-color: $BUSINESS_BG_COLOR;
    width: calc(100%);
    @include flex();
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 100;
    @include boxshadow();

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        /*
        Centering the business card block in the page
         */
        position: absolute;
        right: 50%;
        bottom: 0;
        transform: translate3d(50%, 26%, 0);

        max-width: $BUSINESS_WIDTH;
    }
}

hr {
    max-width: 100%;
    margin: 28px 0;
    color: $COLOR_HORIZONTAL_LINE;
    border-right: 0;
    border-left: 0;
}

.pk_pic_text_container {

    @include flex();

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 10px;

    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    @media screen and (min-width: 500px) {
        padding: 48px * $FACTOR-MOBILE;
    }

    @media screen and (min-width: $VIEWPORT_TABLET) {
        padding: 48px * $FACTOR-TABLET;
    }

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        padding: 48px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .pk_profile_picture {
        margin: 0 auto 1rem auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: pk_delay_show;
        animation-duration: 1s;
        animation-timing-function: ease-in;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            margin: 0;
            width: 30.8rem;
        }

        img {
            width: 150px;
        }
    }

    .pk_contact_details {
        width: 100%;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            width: auto;
        }
    }

    .pk_hello_span {
        display: inline-block;
        padding: 1.2rem;
        background-color: $COLOR_GREEN;
        COLOR: #ffffff;
        font-size: 1.4rem * $FACTOR-FONT-MOBILE;
        animation-name: pk_blink_ani;
        animation-delay: 1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.250, 0.250, 0.885, 1.615);

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            font-size: 1.4rem;
        }

        font-weight: bold;
        margin-bottom: 1rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: $COLOR_GREEN;
            border-bottom: 0;
            border-left: 0;
            margin-left: -24px;
            margin-bottom: -10px;
        }
    }

    .pk_intro {
        font-size: 3.6rem * $FACTOR-FONT-MOBILE;
        font-weight: 300;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            font-size: 3.6rem;
        }

        strong {
            font-weight: 700;
        }
    }

    p {
        font-size: 1.8rem * $FACTOR-FONT-MOBILE;
        color: $COLOR_BASE;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            font-size: 1.8rem;
        }
    }
}

.pk_contact_table {
    tr {

        td {
            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                padding-bottom: 1.8rem;
            }

            &:first-child {
                display: block;
                font-weight: 700;
                margin-bottom: 0.5rem;
                font-size: 1.4rem * $FACTOR-FONT-MOBILE;

                @media screen and (min-width: $VIEWPORT_DESKTOP) {
                    display: table-cell;
                    margin-bottom: 0;
                    padding-right: 2rem;
                    font-size: 1.4rem;
                }
            }

            &:last-child {
                display: block;
                font-size: 1.4rem;
                margin-bottom: 1rem;

                @media screen and (min-width: $VIEWPORT_TABLET) {
                    font-size: 1.8rem;
                }

                @media screen and (min-width: $VIEWPORT_DESKTOP) {
                    display: table-cell;
                    margin-bottom: 0;
                }
            }
        }

        &:last-child {

            td {
                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }
}

.pk_social_container {
    width: 100%;
    background-color: $COLOR_GREEN;
    height: $BUSINESS_SOCIAL_HEIGHT * $FACTOR-MOBILE;
    @include ver_hor_center();

    @media screen and (min-width: $VIEWPORT_TABLET) {
        height: $BUSINESS_SOCIAL_HEIGHT * $FACTOR-TABLET;
    }

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        height: $BUSINESS_SOCIAL_HEIGHT;
    }

    img {
        width: 60px * $FACTOR-MOBILE;

        @media screen and (min-width: $VIEWPORT_TABLET) {
            width: 60px * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            width: 60px;
        }
    }
}

@keyframes pk_blink_ani {
    0%, 10% {
        transform: scale3d(1, 1, 1);
    }
    15% {
        transform: scale3d(0.8, 0.8, 0.8);
    }
    20%, 100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_delay_show {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
