.pk-experience-wrapper {
    position: relative;
}

.line {
    display: none;

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        float: none;
        display: block;
        width: 5px;
        height: calc(100% - (25px + 40px + 40px));
        position: absolute;
        top: calc(40px + 40px);
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        background-color: #b3c2e3;
        border-radius: 3rem;
    }
}

.pk-education-container, .pk-experience-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        padding: 0;
        width: $BUSINESS_WIDTH;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

}

.pk-experience-wrapper {

    &.pk-education-wrapper {
        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
    }

    > h1 {
        text-align: center;
        font-size: 3.4rem * $FACTOR-MOBILE;

        @media screen and (min-width: $VIEWPORT_TABLET){
            font-size: 3.4rem * $FACTOR-TABLET;
            margin-bottom: 3.4rem * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            font-size: 3.4rem;
            margin-bottom: 4rem;
        }
    }
}

.pk-location-flag {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        width: 3.2rem;
        height: 3.2rem;
    }

    img{
        max-height: 100%;
    }
}

.pk-border-box {
    border-top: 0.5rem * $FACTOR-MOBILE solid $COLOR_GREEN;
    padding: 10px;
    position: relative;
    background-color: $COLOR_WHITE;
    margin-bottom: 2.5rem;

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        width: 43.2rem;
        padding: 1.8rem 2.2rem;
        border-top: 0.5rem solid $COLOR_GREEN;
    }

    span {
        display: inline-block;
        background-color: $COLOR_GREEN;
        color: $COLOR_WHITE;
        position: relative;
        padding: 0.4rem;
        border-radius: 0.4rem;

        font-size: 1.2rem;
        margin-bottom: 1.4rem;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            font-size: 1.4rem;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10px;
            width: 0;
            height: 0;
            border: 10px * $FACTOR-MOBILE solid transparent;
            border-top-color: $COLOR_GREEN;
            border-bottom: 0;
            border-left: 0;
            margin-bottom: -10px * $FACTOR-MOBILE;

            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                border: 10px solid transparent;
                margin-bottom: -10px;
            }
        }
    }

    &:after {
        content: none;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-left-color: $COLOR_WHITE;
            border-right: 0;
            margin-top: -20px;
            margin-right: -20px;
        }
    }

    &:nth-child(2) {
        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            margin-top: 7rem;
        }
    }

    &:nth-child(odd) {
        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            float: left;

            &:before{
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: #2D467B;
                position: absolute;
                right: -37px;
                top: 50%;
                margin-top: -3px;
                animation-name: pk_blink_ani;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.250, 0.250, 0.800, 1.360);
            }
        }


    }

    &:nth-child(even) {
        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            float: right;
        }
        &:before {
            content: none;
            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-right-color: $COLOR_WHITE;
                border-left: 0;
                margin-top: -20px;
                margin-left: -20px;
            }
        }

        &:after {
            content: none;

            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                border: none;
                border-radius: 100%;
                background-color: #2D467B;
                position: absolute;
                left: -37px;
                top: 50%;
                margin-top: -3px;
                animation-name: pk_blink_ani;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.250, 0.250, 0.800, 1.360);
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

}

h1 {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;

    @media screen and (min-width: $VIEWPORT_TABLET) {
        font-size: 2.2rem * $FACTOR-TABLET;
    }

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        font-size: 2.2rem;
    }
}

.pk-job-description {
    margin: 0;
    padding: 0;

    margin-bottom: 2.4rem;
    font-size: 1.2rem;
    margin-left: 1.2rem;

    @media screen and (min-width: $VIEWPORT_TABLET) {
        font-size: 2rem * $FACTOR-TABLET;
        margin-left: 1.6rem;
    }

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        font-size: 1.6rem;
        margin-left: 1.6rem;
    }
    li{
        margin-bottom: 1rem * $FACTOR-MOBILE;

        @media screen and (min-width: $VIEWPORT_TABLET) {
            margin-bottom: 1rem * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            margin-bottom: 1rem;
        }
    }
}

.pk-non-list-description{
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.3rem;

    @media screen and (min-width: $VIEWPORT_TABLET) {
        font-size: 1.6rem * $FACTOR-TABLET;
    }

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        font-size: 1.6rem;
    }

    a{
        text-decoration: underline;
    }
}
