header{
    background-color: $HEADER_BG_COLOR;
    padding: 2rem 2rem 4rem 2rem;
    @include angled-edge('inside bottom', 'upper left', $BG_BASE, 30);

    @media screen and (min-width: $VIEWPORT_DESKTOP){
        height: 56rem;
        padding: 4rem;
        position: relative;
        @include angled-edge('inside bottom', 'upper left', $BG_BASE, 80);
    }
}

.pk_logo{
    color: $COLOR_WHITE;
    font-size: 3.6rem;
    cursor: pointer;
    margin-bottom: 2rem;

    @media screen and (min-width: $VIEWPORT_DESKTOP){
        margin-bottom: 8.8rem;
    }
}
