.pk_introduction_block {

    margin-top: 44px * $FACTOR-MOBILE;

    padding: 2rem 2rem 0 2rem;

    @media screen and (min-width: $VIEWPORT_DESKTOP) {
        width: $BUSINESS_WIDTH;
        margin-top: 158px;
        padding: 4rem 4rem 0 4rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    p {
        font-size: 2rem * $FACTOR-FONT-MOBILE;
        font-weight: 300;

        padding: 0 10px 0 10px;

        @media screen and (min-width: 500px) {
            padding: 0 48px * $FACTOR-MOBILE 0 48px * $FACTOR-MOBILE;
        }

        @media screen and (min-width: $VIEWPORT_TABLET) {
            padding: 0 48px * $FACTOR-TABLET 0 48px * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            padding: 0 48px 0 48px;
            font-size: 2rem;
        }
    }

    .pk_hash_tags_container {

        margin-top: 22px * $FACTOR-MOBILE;
        width: 100%;

        > p {
            margin: 0 auto;
            width: 80%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            span {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }

        }
    }

}
