.pk_professional_skill{
    padding: 2rem;


    @media screen and (min-width: $VIEWPORT_DESKTOP){
        width: $BUSINESS_WIDTH;
        padding: 4rem 4rem 4rem 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3.4rem * $FACTOR-FONT-MOBILE;

        @media screen and (min-width: $VIEWPORT_TABLET){
            font-size: 3.4rem * $FACTOR-FONT-TABLET;
            margin-bottom: 3.4rem * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            font-size: 3.4rem;
            margin-bottom: 3.4rem;
        }
    }

    .pk_skill_list{
        width: 100%;
        @include flex();
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: $COLOR_WHITE;
        padding: 10px;
        @include boxshadow();

        @media screen and (min-width: 500px){
            padding: 48px * $FACTOR-MOBILE;
        }

        @media screen and (min-width: $VIEWPORT_TABLET){
            padding: 48px * $FACTOR-TABLET;
        }

        @media screen and (min-width: $VIEWPORT_DESKTOP){
            padding: 48px;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .pk_skills{
            flex: 1;

            &.pk_skill_left{

                @media screen and (min-width: $VIEWPORT_DESKTOP){
                    margin-right: 3rem;
                }

                > div{
                    &:last-child{
                        margin-bottom: 4rem;
                        @media screen and (min-width: $VIEWPORT_DESKTOP){
                            margin-bottom: 0;
                        }
                    }
                }
            }
            > div{
                margin-bottom: 4rem;
                p{
                    font-size: 1.6rem * $FACTOR-FONT-MOBILE;
                    margin-bottom: 0.5rem;

                    @media screen and (min-width: $VIEWPORT_DESKTOP){
                        font-size: 1.6rem;
                    }

                    span{
                        font-size: inherit;
                        float: right;
                    }
                }

                .skill_measure{
                    background-color: #b3c2e3;
                    width: 100%;
                    height: 5px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    position: relative;

                    span{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        background-color: $COLOR_GREEN;
                        transform-origin: left;
                        //animation-name: pk_skill_expand;
                        //animation-duration: 12s;
                        //animation-iteration-count: infinite;
                    }

                    &.skill_html_css{
                        span{
                            animation-name: pk_skill_expand_html_css;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_javascript{
                        span{
                            animation-name: pk_skill_expand_javascript;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_scss{
                        span{
                            animation-name: pk_skill_expand_scss;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_php{
                        span{
                            animation-name: pk_skill_expand_php;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_jquery{
                        span{
                            animation-name: pk_skill_expand_jquery;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_wordpress_cms{
                        span{
                            animation-name: pk_skill_expand_wordpress_cms;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_vue{
                        span{
                            animation-name: pk_skill_expand_vue;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_mysql{
                        span{
                            animation-name: pk_skill_expand_mysql;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_selenium{
                        span{
                            animation-name: pk_skill_expand_selenium;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_cypress{
                        span{
                            animation-name: pk_skill_expand_cypress;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_jira{
                        span{
                            animation-name: pk_skill_expand_jira;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                    &.skill_git{
                        span{
                            animation-name: pk_skill_expand_git;
                            animation-duration: 12s;
                            animation-iteration-count: infinite;
                        }
                    }

                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

    }
}

@keyframes pk_skill_expand_html_css {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    5.4%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_javascript {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    3%{
        transform: scale3d(0, 1 , 0);
    }
    7.66%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_scss {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    6%{
        transform: scale3d(0, 1 , 0);
    }
    12.46%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_php {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    9%{
        transform: scale3d(0, 1 , 0);
    }
    16.96%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_jquery {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    12%{
        transform: scale3d(0, 1 , 0);
    }
    21.16%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_wordpress_cms {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    15%{
        transform: scale3d(0, 1 , 0);
    }
    25.84%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_vue{
    0%{
        transform: scale3d(0, 1 , 0);
    }
    18%{
        transform: scale3d(0, 1 , 0);
    }
    29.26%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_mysql{
    0%{
        transform: scale3d(0, 1 , 0);
    }
    21%{
        transform: scale3d(0, 1 , 0);
    }
    32.425%, 100%{
        transform: scale3d(1, 1, 1);
    }
}


@keyframes pk_skill_expand_selenium{
    0%{
        transform: scale3d(0, 1 , 0);
    }
    24%{
        transform: scale3d(0, 1 , 0);
    }
    35.845%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_cypress {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    27%{
        transform: scale3d(0, 1 , 0);
    }
    38.665%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_jira {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    30%{
        transform: scale3d(0, 1 , 0);
    }
    43.885%, 100%{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pk_skill_expand_git {
    0%{
        transform: scale3d(0, 1 , 0);
    }
    33%{
        transform: scale3d(0, 1 , 0);
    }
    47.395%, 100%{
        transform: scale3d(1, 1, 1);
    }
}
