<template>
    <div id="app">
        <header-component></header-component>

        <intro-component></intro-component>

        <profession-skill></profession-skill>
        <div class="pk-experience-wrapper">
            <div class="line"></div>
            <h1>Work Experience</h1>
            <div class="pk-experience-container">
                <ExperienceComponent v-for="(experience, index) in experiences"
                                     :key="index"
                                     :educationdata="experience"></ExperienceComponent>
            </div>
        </div>
        <div class="pk-experience-wrapper pk-education-wrapper">
            <div class="line"></div>
            <h1>Education</h1>
            <div class="pk-education-container">
                <ExperienceComponent v-for="(education, index) in educations"
                                     :key="index"
                                     :educationdata="education"></ExperienceComponent>
            </div>
        </div>
        <FooterComponent></FooterComponent>
    </div>
</template>

<script>
    import FontFaceObserver from 'fontfaceobserver';
    import HeaderComponent from "./components/HeaderComponent";
    import IntroComponent from "./components/IntroComponent";
    import ProfessionSkill from "./components/ProfessionSkill";
    import ExperienceComponent from "./components/ExperienceComponent";
    import FooterComponent from './components/FooterComponent';


    export default {
        name : "app",
        components : {
            HeaderComponent,
            IntroComponent,
            ProfessionSkill,
            ExperienceComponent,
            FooterComponent
        },
        mounted : function(){
            let font = new FontFaceObserver('Roboto');

            font.load().then(() => {
                const el = document.body;
                el.classList.add('pk_roboto_font_loaded');
            });
        },
        data(){
            return {
                educations : [
                    {
                        period : "September 2012 - December 2016",
                        job : 'Bachelors of Computer Science Engineering',
                        institution : 'University of Information Science and Technology (UIST) “St. Paul the Apostle”',
                        location : 'Ohrid, Republic of Macedonia',
                        flag : require('./assets/img/flag_macedonia.jpg'),
                        url : 'http://uist.edu.mk/'
                    },
                    {
                        period : "June 2007 - May 2009",
                        job : 'Diploma (Honors) in Information Technology',
                        institution : 'GRG Polytechnic College',
                        location : 'Coimbatore, Tamil Nadu, India',
                        flag : require('./assets/img/flag_india.svg'),
                        url : 'http://www.grgpolytech.ac.in/'
                    }
                ],
                experiences : [
                    {
                        period : "January 2017 - Present",
                        job : 'Junior Entwickler',
                        institution : 'DigitalSpital GmbH',
                        location : 'Munich, Germany',
                        flag : require('./assets/img/flag_germany.svg'),
                        url : 'https://www.digitalspital.de/'
                    },
                    {
                        period : "February 2016 - October 2016",
                        job : 'Web Developer (Internship)',
                        institution : 'WebRealisierung.com',
                        location : 'Karlsruhe, Germany',
                        flag : require('./assets/img/flag_germany.svg'),
                        url : 'https://www.webrealisierung.com'
                    },
                    {
                        period : "May 2013 - October 2016",
                        job : 'WordPress Administration Manager (Part time)',
                        institution : 'The Bittinger Team',
                        location : 'Remote job',
                        flag : require('./assets/img/icon_remote_job.svg'),
                        url : 'https://www.bittinger.com/'
                    },
                    {
                        period : "February 2015 - February 2015",
                        job : 'Community Work Week - Testing',
                        institution : 'Mozilla Paris',
                        location : 'Paris, France',
                        flag : require('./assets/img/flag_france.svg'),
                        url : 'https://www.mozilla.org/en-US/'
                    },
                    {
                        period : "January 2012 - August 2012",
                        job : 'QA Engineer (Internship)',
                        institution : 'MobGen',
                        location : 'Amsterdam, Netherlands',
                        flag : require('./assets/img/flag_netherlands.svg'),
                        url : 'https://www.mobgen.com/'
                    },
                    {
                        period : "February 2011 - Novermber 2011",
                        job : 'Digital Media (Internship)',
                        institution : 'Toonari News & Media',
                        location : 'Remote Job',
                        flag : require('./assets/img/icon_remote_job.svg'),
                        url : 'http://www.toonaricorporation.com/'
                    }
                ]
            }
        }
    };
</script>
<style lang="scss">
    @import "assets/scss/base";
    @import "assets/scss/variables";
    @import "assets/scss/mixins";

    .pk_roboto_font_loaded #app {
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .pk-experience-wrapper {
        position: relative;
    }

    .line {
        display: none;

        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            float: none;
            display: block;
            width: 5px;
            height: calc(100% - (25px + 40px + 40px));
            position: absolute;
            top: calc(40px + 40px);
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            background-color: #b3c2e3;
            border-radius: 3rem;
        }
    }

    .pk-education-container, .pk-experience-container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 2rem;
        @media screen and (min-width: $VIEWPORT_DESKTOP) {
            padding: 0;
            width: $BUSINESS_WIDTH;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }

    }

    .pk-experience-wrapper {

        &.pk-education-wrapper {
            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                margin-top: 4rem;
            }
        }

        > h1 {
            text-align: center;
            font-size: 3.4rem * $FACTOR-FONT-MOBILE;

            @media screen and (min-width: $VIEWPORT_DESKTOP) {
                font-size: 3.4rem;
                margin-bottom: 4rem;
            }
        }
    }

    @keyframes pk_blink_ani {
        0%, 10% {
            transform: scale3d(1, 1, 1);
        }
        15% {
            transform: scale3d(0.8, 0.8, 0.8);
        }
        20%, 100% {
            transform: scale3d(1, 1, 1);
        }
    }

</style>
